/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

h2.h2 {
    text-align: center;
    color: #0056b3;
    margin-top: 20px;
    font-size: 2em;
}

ul.ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
}

ul.ul li {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 10px;
    margin: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 250px;
}

ul.ul li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

ul.ul li img {
    max-width: 100%;
    border-radius: 10px;
    height: auto;
}

button.p {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.p:hover {
    background-color: #0056b3;
}

audio.controls {
    margin-top: 10px;
    width: 100%;
}
